<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:line-height="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Title</title>

    <link th:href="@{/css/log/log_management.css}" rel="stylesheet" >
    <script th:src="@{/js/log_websocket/sockjs.min.js}"></script>
    <script th:src="@{/js/log_websocket/stomp.min.js}"></script>
    <script th:src="@{/js/log_websocket/log_management.js}"></script>

</head>
<body>

<h3 class="my_h3">Listening Realtime Log</h3>
<div id="div_2_btn">
<button type="button" class="btn btn-success" id="btn_open_socket" onclick="openSocket();">Push</button>
<button type="button" class="btn btn-danger" id="btn_close_socket" onclick="closeSocket();">Stop</button>
</div>
<div id="filelog-container" >
    <div></div>
</div>

</body>

<script>
    //var stompClient = null;
    //$(document).ready(function() {openSocket();});   //加载页面后就运行函数
    // function openSocket() {
    //     if(stompClient==null){
    //         var hostname = location.hostname;
    //         var port = location.port;
    //         var socket = new SockJS("http://"+hostname+":"+port+"/html/home/log?token=kl");
    //         stompClient = Stomp.over(socket);
    //         stompClient.connect({token:"kl"}, function(frame) {
    //
    //             stompClient.subscribe('/topic/pullFileLogger', function(event) {
    //                 var content=event.body;
    //                 $("#filelog-container div").append(content).append("<br/>");
    //                 $("#filelog-container").scrollTop($("#filelog-container div").height() - $("#filelog-container").height());
    //             },{
    //                 token:"kltoen"
    //             });
    //         });
    //     }
    // }
    // function closeSocket() {
    //     if (stompClient != null) {
    //         stompClient.disconnect();
    //         stompClient=null;
    //     }
    // }
</script>






</html>