<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Welcome to Cisco Fog Computing Platform.</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet" >-->

    <!-- Custom styles for this template -->
    <!--<link href="../../css/signin/signin.css" rel="stylesheet" >-->
</head>

<body>      <!--class="text-center" -->
<!--<form class="form-signin" th:action="@{/html/home}" method="post">-->

    <!--<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
    <!--<label for="username" class="sr-only">User Name</label>-->
    <!--<input type="text" id="username" name="username" class="form-control" placeholder="User Name" required="" autofocus="">-->
    <!--<label for="password" class="sr-only">Password</label>-->
    <!--<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">-->
    <!--<div class="checkbox mb-3">-->
        <!--<label>-->
            <!--<input type="checkbox" value="remember-me"> Remember me-->
        <!--</label>-->
    <!--</div>-->
    <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
    <!--<p class="mt-5 mb-3 text-muted">© 2017-2018</p>-->
<!--</form>-->


</body>
</html>