<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!--<script th:src="@{/js/sidebar.js}" ></script>-->
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" >
    <style type="text/css">
        .first_class_menu{

            font-size:large;

        }
    </style>

</head>

<body>
<div class="sidebar-sticky">
    <!--<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">-->
        <!--&lt;!&ndash;<span>Open/Close</span>&ndash;&gt;-->
        <!--<a class="d-flex align-items-center text-muted" href="#">-->
            <!--<span data-feather="chevrons-right"></span>-->
        <!--</a>-->
    <!--</h6>-->

    <ul class="nav flex-column">
        <li class="nav-item">
            <a id="sidebar_student_a" class="nav-link first_class_menu"  th:href="@{/html/home/student}"
                style="font-size: large">
                <span data-feather="user"></span>学生用
            </a>
            <a id="sidebar_roadcheck_a" class="nav-link" th:href="@{/html/home/student}">
                <span data-feather="user"></span>&nbsp&nbsp&nbsp&nbsp路况查询
            </a>
            <a id="sidebar_safe_generate_a" class="nav-link" th:href="@{/html/home/student}">
                <span data-feather="user"></span>&nbsp&nbsp&nbsp&nbsp安全路线生成
            </a>


        </li>

        <li class="nav-item">
            <a id="sidebar_police_a" class="nav-link active first_class_menu" th:href="@{/html/home/police}"
               style="font-size: large">
                <span data-feather="user"></span>
                警用
                <!--<span class="sr-only">(current)</span>-->
            </a>
            <a id="sidebar_roadcheck2_a" class="nav-link" th:href="@{/html/home/student}">
                <span data-feather="user"></span>&nbsp&nbsp&nbsp&nbsp路况查询
            </a>
            <a id="sidebar_deploy_a" class="nav-link" th:href="@{/html/home/student}">
                <span data-feather="user"></span>&nbsp&nbsp&nbsp&nbsp派遣方案
            </a>
            <a id="sidebar_maxv_a" class="nav-link" th:href="@{/html/home/student}">
                <span data-feather="user"></span>&nbsp&nbsp&nbsp&nbsp最速路线生成
            </a>
        </li>

    </ul>




</div>

</body>

