<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:float="http://www.w3.org/1999/xhtml"
      >
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            body {
                margin: 0;
            }
            #main {
                height: 1%;
            }
        </style>
        <!--<script type="text/javascript" src="./echarts/chart/main.js"></script>-->
        <!--<script type="text/javascript" src="./echarts/chart/map.js"></script>-->
        <!--<script type="text/javascript" src="./js/echarts.min.js"></script>-->
        <!--<script type="text/javascript" src="./js/jquery.min.js"></script>-->
        <!--<script type="text/javascript" src="./js/require.js"></script>-->
        <!--<script type="text/javascript" src="./js/example2.js"></script>-->
        <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script>-->
    </head>
    <body>
    <h3>888888888</h3>
        <div id="main">4445</div>

    <!--<script th:src="@{/js/trace/echarts/chart/main.js}"></script>-->
    <!--<script th:src="@{/js/trace/echarts/chart/map.js}"></script>-->

    <script th:src="@{/js/trace/echarts/echarts.js}"></script>
    <script th:src="@{/js/trace/js/jquery.min.js}"></script>
    <script th:src="@{/js/trace/js/require.js}"></script>
    <script th:src="@{/js/trace/js/example2.js}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script>




    <!--<script src="./echarts/echarts.js"></script>-->
        <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script>-->
        <!--<script src="./js/jquery.min.js"></script>-->
        <!--<script src="./js/require.js"></script>-->
        <!--<script src="./js/example2.js"></script>-->

    <!--<script src="./echarts/echarts.js"></script>-->
    <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=53oVIOgmSIejwV7EfphPgTynOZbIiVYu"></script>-->
    <!--<script src="C:/Users/ruozhao/Desktop/trace/js/jquery.min.js"></script>-->

    <!--<script src="C:/Users/ruozhao/Desktop/trace/js/require.js"></script>-->
    <!--<script src="C:/Users/ruozhao/Desktop/trace/js/example2.js"></script>-->

    <!--"C:/Users/ruozhao/Desktop/trace/js/jquery.min.js"-->
    </body>
</html>